* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --primary-text-color: #091156;
    --second-text-color: #8B8B8B;
    --primary-color: #FF64AE;
    font-size: 10px;
}

.wrapper {
    height: 100%;
    max-width: 1440px;
    background-color: #FFFFFF;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(/assets/img/Slide_Background.png), url(/assets/img/Background_Bubble_2.png), url(/assets/img/Background_Bubble_1.png);
    background-position: left top, 493px 1448px, 0px 3143px;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.content {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

/* Header */
.header {
    position: fixed;
    max-width: 1140px;
    width: 100%;
    height: 63px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    top: 41px;
    display: flex;
    align-items: center;
    z-index: 99;
}

.header-logo {
    justify-self: flex-start;
}

.header-logo__img {
    height: 63px;
    width: 258px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    
}

.header-menu {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 52px;
}

.header-menu__page {
    color: var(--second-text-color);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.header-menu__page:hover {
    opacity: 0.8;
}

.header-menu__page+.header-menu__page {
    margin-left: 45px;
}

.header-menu__page.active {
    color: #414880;
}

.header-menu__page--icon {
    font-size: 0.8rem;
    margin-left: 5px;
}

.header-contact {
    justify-self: flex-end;
}

.header-contact__btn {
    width: 158px;
    height: 52px;
    background: var(--primary-color);
    border-radius: 50px;
    border: none;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    cursor: pointer;
}

.header-contact__btn:hover {
    opacity: 0.8;
}

/* Slider */
.slider {
    padding-top: 263px;
    margin-bottom: 131px;
}

.slider-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slider-content {
    justify-self: flex-start;
    margin-left: 39px;
    margin-right: 22px;
}

.slider-content__title {
    font-weight: 600;
    font-size: 4.8rem;
    line-height: 125%;
    color: var(--primary-text-color);
}

.slider-content__info {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.1em;

    color: var(--primary-text-color);
}

.slider-content__details {
    margin-top: 28px;
}

.slider-content__details-btn {
    width: 200px;
    height: 58.36px;
    background: var(--primary-color);
    box-shadow: 0px 17px 22px #FFEDF6;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    cursor: pointer;
}

.slider-content__details-btn:hover {
    opacity: 0.8;
}

.slider-animation {
    justify-self: flex-end;
}

.slider-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 136px;
}

.slider-btn__icon {
    width: 14.82px;
    height: 3.09px;
    background: #EEEEEE;
    border-radius: 50px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    cursor: pointer;
}

.slider-btn__icon+.slider-btn__icon {
    margin-left: 8px;
}

.slider-btn__icon.active {
    width: 25.31px;
    height: 8.15px;

    background: #414880;
    border-radius: 50px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.services {
    margin-bottom: 131px;
}

.services-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 82px;
}

.services-content__tag {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 12px;
}

.services-content__title {
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 4.5rem;
    padding: 3px 204px;
    margin-bottom: 12px;
    text-align: center;
    color: var(--primary-text-color);

}

.services-content__info {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 1px 146px;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--second-text-color);
}

.services-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.services-selection__box {
    box-shadow: 0px 25px 50px 25px #F7F7FF;
    border-radius: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
    cursor: pointer;
}

.services-selection__box:hover {
    transform: translateY(-5px);
    transition: 0.2s ease-out;
    box-shadow: 10px 35px 60px 35px #F7F7FF;
}

.services-selection__box+.services-selection__box {
    margin-left: 56px;
}

.services-selection__box-img {
    padding: 59px 89px;
}

.services-selection__box-title {
    padding: 0 40px 15px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-align: center;

    color: var(--primary-text-color);
}

.services-selection__box-info {
    margin-bottom: 52px;
    padding: 0 34px 17px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--second-text-color);
}


.about {
    margin-bottom: 131px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-content {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-content__tag {
    justify-self: flex-start;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 125%;
    margin-bottom: 12px;
    color: var(--primary-color);
}

.about-content__title {
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 125%;
    margin-bottom: 12px;
    padding: 4px 0;
    color: var(--primary-text-color);
}

.about-content__info {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.1em;
    margin-bottom: 49px;
    margin-right: 181px;
    padding: 2px 0;
    color: var(--second-text-color);
}

.about-content__btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.about-content__btn-more {
    width: 200px;
    height: 58.36px;
    margin-right: 44px;
    background: var(--primary-color);
    box-shadow: 0px 17px 22px #FFEDF6;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    cursor: pointer;
}

.about-content__btn-more:hover,
.about-content__btn-video:hover {
    opacity: 0.8;
}

.about-content__btn-video {
    width: 200px;
    height: 58.36px;
    background: transparent;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;
    color: var(--second-text-color);
    cursor: pointer;
}

.about-content__btn-video-img {
    background-image: url(/assets/img/Play_button.png);
    background-position: center;
    height: 49px;
    width: 49px;
    margin-right: 13px;
}

.about-img {
    justify-self: flex-end;
    align-self: flex-end;
}

.about-img__item {
    width: 476px;
    height: 350px;
    background: url(/assets/img/img_about.png), #C4C4C4;
    background-position: center;
    box-shadow: 0px 0px 50px 25px #FFFFFF;
    border-radius: 50px;
}

.team {
    margin-bottom: 131px;
}

.team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 178px;
}

.team-content__tag {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 12px;
}

.team-content__title {
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 4.5rem;
    padding: 3px 204px;
    margin-bottom: 12px;
    text-align: center;
    color: var(--primary-text-color);

}

.team-content__info {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 1px 146px;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--second-text-color);
}

.team-selection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.team-selection__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 42px;
    padding: 85px 63px;
    cursor: pointer;
}

.team-selection__box:hover {
    box-shadow: 0px 25px 50px 25px #F7F7FF;
    z-index: 99;
    transition: 0.5s ease-out;
}


.team-selection__box-img {
    margin-bottom: 53px;
}

.team-selection__box-title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 125%;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 15px;

}

.team-selection__box-name {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 125%;
    text-align: center;
    color: var(--primary-text-color);
    padding: 0 0 7px;
    margin-bottom: 6px;
}

.team-selection__box-desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--second-text-color);
    margin: 0 0 35px;
}

.team-selection__box-social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact {
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-animation {
    justify-self: flex-start;
}

.contact-form {
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 100px;
}

.contact-form__tag {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 125%;
    color: var(--primary-color);
    margin-bottom: 12px;
}

.contact-form__title {
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 125%;
    color: var(--primary-text-color);
    margin-bottom: 12px;
    margin-right: 113px;
    padding: 4px 0;
}

.contact-form__desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.1em;
    color: var(--second-text-color);
    margin-bottom: 44px;
    padding: 2px 0;
}

.contact-form__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.contact-form__name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-form__item {
    width: 100%;
}

.contact-form__item+.contact-form__item {
    margin-top: 38px;

}

.contact-form__box {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D9DDFE;
    border-radius: 15px;
    padding: 18px 0;
    display: flex;
    align-items: center;
}

.contact-form__box+.contact-form__box {
    margin-left: 36px;
}

.contact-form__input {
    width: 100%;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.1em;
    color: #C5C5C5;
    margin: 0 24px;
    border: none;
    outline: none;
    resize: none;
}

.contact-form__btn {
    margin-top: 16px;
    align-self: flex-start;
}

.contact-form__btn-info {
    width: 248px;
    height: 58px;
    background: var(--primary-color);
    box-shadow: 0px 17px 22px #FFEDF6;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.contact-form__btn-info:hover {
    opacity: 0.8;
}

/* Footer */


.footer {
    background: url(/assets/img/Footer_BG_1.png), url(/assets/img/Footer_BG_2.png), url(/assets/img/Footer_BG_3.jpg);
    background-position: left top, left top, 0 580px;
    background-size: auto, auto, 1440px 125px;
    background-repeat: no-repeat, no-repeat, no-repeat;

}

.footer-wrapper {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 237px;
    margin-bottom: 140px;
}

.footer-content__main {
    flex-basis: 50%;
}

.footer-content__main-img {
    margin-bottom: 33px;
}

.footer-content__main-text {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: 0.1em;
    color: #D7DBFF;
    margin-left: 31px;
}

.footer-content__main-text b {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #D7DBFF;
    padding: 0;
    margin: 0;
}

.footer-content__main-text+.footer-content__main-text {
    margin-top: 26px;
}

.footer-content__main-info {
    font-style: italic;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: 0.1em;
    color: #D7DBFF;
}

.footer-content__main-info a {
    margin-left: 12px;
    font-style: italic;
    color: #D7DBFF;
    margin-left: 28px;

}


.footer-content__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;

}

.footer-content__info-page {
    display: flex;
    flex-direction: column;
}

.footer-content__info-info {
    display: flex;
    flex-direction: column;
}

.footer-content__info-title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.footer-content__info-item {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.1em;
    color: #D7DBFF;
    text-decoration: none;
}

.footer-content__info-item+.footer-content__info-item {
    margin-top: 11px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
}

.footer-bottom__social {
    justify-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 305px;
}

.footer-bottom__social-item {
    display: block;
}

.footer-bottom__copyright {
    justify-self: flex-end;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: right;
    letter-spacing: 0.1em;
    color: #D7DBFF;

}

.toTop {
    display: none;
    position: fixed;
    bottom: 170px;
    right: 65px;
    cursor: pointer;
    z-index: 99;
}